* {
  // background: red;
  font-family: "Avenir LT Std";
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: 0;
  line-height: 1.6;
  object-fit: cover;
  object-position: center;
  font-size: 17px;
  color: #060606;
  text-decoration: none;
  list-style: none;
  font-weight: 900;
  outline: none;
  cursor: none;
  background: transparent;
}

@mixin small_laptop {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

.thick {
  font-size: 130%;
  font-weight: 900;
  -webkit-text-stroke: 0.5px;
}

$color: #898d93;
$theme: #5843be;

.co-theme {
  color: $theme;
}
body {
  ::-webkit-scrollbar {
    display: none;
  }
}

.mbl-header {
  display: none;

  @include mobile() {
    border-bottom: 1px solid #e9eaeb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 2;
    background: #fff;
    .logo {
      height: 49px;
    }
  }
}

.app {
  height: 100vh;
  display: grid;
  box-sizing: border-box;
  overflow: hidden;
  grid-template-columns: 1fr 3fr 1.2fr;
  @include mobile {
    grid-template-columns: 1fr;
  }
  > .side-bar {
    height: 100vh;
    box-sizing: border-box;
    padding: 30px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(#fdfdfd, #fff);

    @include mobile {
      position: fixed;
      background: #fff;
      z-index: 2;
      box-shadow: 0 0 30px 200px #00000012;
      top: 0;

      transition: .3s ease-in-out;

      &::after {
        content: "";
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        display: block;
        background: #ffffff00;
        z-index: -1;
      }
      &.closed {
        opacity: 0;
        pointer-events: none;
      }
    }
    .logo-rapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0 50px 0;
      img {
        height: 50px;
        padding: 10px;
        position: relative;
        z-index: 5;
        background: #fdfdfd;
        border-radius: 10px;
        // transition: 0.4s ease-in-out;
      }
    }
    .links {
      .link {
        display: flex;
        // text-align: center;
        padding: 0 26px;
        color: $color;
        margin: 0 0 25px 0;
        align-items: center;
        > img {
          height: 20px;
          margin-right: 18px;
          &.bigger {
            height: 25px;
          }
        }
        &.active {
          background: $theme;
          color: #fff;
          padding: 10px 26px;
          border-radius: 10px;
          > img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
    .bottom {
      > .card {
        background: #fff;
        padding: 15px 26px;
        border-radius: 12px;
        height: 120px;
        display: flex;
        align-items: flex-end;
        margin: 50px 0;
        box-shadow: 0 4px 10px 0 #fafafa;
        background-image: linear-gradient(#0e0e0e1e, #0e0e0e27),
          url("../img/girlworking.png");
        background-position: center;
        background-size: cover;

        > p {
          font-weight: 900;
          letter-spacing: -0.5px;
          line-height: 1.5;
          color: #fff;
        }
      }
    }
  }
  .mid {
    padding: 40px;
    > .header {
      display: flex;
      justify-content: space-between;
      > .bg-grey {
        background: #f6f7f8;
        color: #8f9399f6;
        font-weight: 500;
        padding: 8px 20px;
        width: fit-content;
        border-radius: 10px;
      }
      .i-rapper {
        display: flex;
        align-items: center;
        img {
          width: 18px;
          &:nth-child(1) {
            margin-right: 15px;
          }
          &:nth-child(2) {
            margin-left: 15px;
            width: 15px;
          }
        }
      }
    }
    .lessons {
      margin: 50px 0;
      .lesson {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 15px 0;
        @include mobile() {
          flex-wrap: wrap;
          padding: 30px 0;
          margin: 0;
          border-bottom: 1px solid #dfe0e2;
        }

        .left {
          $space: 40px;
          display: flex;
          align-items: center;
          padding-right: 40px !important;

          .date {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px $space;
            position: relative;

            * {
              line-height: 1.3;
            }
            .day {
              color: $color;
            }
            .num {
              font-size: 210%;
              letter-spacing: -2px;
            }
          }
          .price {
            border-left: 1px solid #898d9359;
            padding: 0 20px;
            * {
              line-height: 1.5;
            }
            .cost {
              color: #7e8189;
              .thicker {
                opacity: 0.8;
                margin: 0 5px;
              }
            }
          }
        }
        .right {
          display: flex;
          @include mobile() {
            margin: 20px 0 0 0;
          }
          .time {
            margin: 0 20px;
            opacity: 0.6;
            font-size: 90%;
          }
          > .card {
            padding: 20px 20px;
            border-radius: 12px;
            display: flex;
            background: #ecf6ff;
            width: 252px;

            .info {
              margin-right: 50px;
              .name-container {
                display: flex;
                align-items: center;
                .dp-rapper {
                  display: block;
                  height: 70px;
                  width: 70px;
                  // background: #1a55af;
                  border-radius: 100vh;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
                  > svg {
                    height: 100%;
                    width: 100%;
                  }
                }

                .name-rapper {
                  margin: 0 15px;
                  .type {
                    font-size: 97%;
                  }
                  * {
                    line-height: 1.35;
                    color: #4b7bc2;
                  }
                }
              }
              .dura {
                font-weight: 900;
                color: #4b7bc2;
                font-size: 95%;
                margin: 20px 0 0 0;
              }
            }
            &.purple {
              background: #f6f4ff;
              .info .name-container .name-rapper {
                * {
                  color: $theme;
                }
              }
              .info {
                .dura {
                  color: $theme;
                }
              }
            }
            &.orange {
              background: #ffece6;
              .info .name-container .name-rapper {
                * {
                  color: #fa5f1c;
                }
              }
              .info {
                .dura {
                  color: #fa5f1c;
                }
              }
            }
            &.empty {
              background: #f8f8f9;
              .dura {
                margin: 0;
                color: #85888f;
                * {
                  color: #85888f;
                }
                .thicker {
                  font-weight: inherit;
                  margin: 0 10px;
                }
              }
            }
          }
        }
        &.empty-rapper {
          overflow: hidden;

          .left {
            // background: #f6f7f8;
            position: relative;
            border-radius: 10px;
            padding: 10px 0;
            background-image: url("../img/arrow2.svg");
            background-size: cover;
            background-position: right;
          }
        }
      }
    }
  }
  > .lst {
    // padding: 40px;
    padding-top: 0;
    @include mobile {
      display: none;
    }
    .header {
      padding: 40px;
      background: #fff;
      // margin: 0 -40px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: sticky;
      top: 0;
      z-index: 2;
      box-shadow: 0 4px 10px 0 rgba(68, 68, 68, 0.02);
    }
    .container {
      padding: 40px;
      // box-shadow: inset 0 4px 10px 0 rgba(68, 68, 68, 0.03);
      background: #fbfbfb;

      p {
        opacity: 0.5;
      }
      > h2 {
        font-size: 170%;
      }
      .description {
        line-height: 1.5;
        margin: 10px 0;
      }
      .members-container {
        margin: 30px 0;
        .members {
          display: flex;
          margin: 10px 0;
          .dp-rapper {
            height: 35px;
            width: 35px;
            display: block;
            border-radius: 50%;
            background: #efefef;
            margin-right: -4px;
            display: flex;
            align-items: center;
            font-size: 74%;
            justify-content: center;
            color: #84878f;
            &:not(.num) {
              background-image: url("../img/girlworking.png");
              background-position: center;
              background-size: cover;
              border: 1px solid #fbfbfb;
            }
          }
          .num {
            margin: 0 0 0 10px;
          }
        }
      }
      .info-container {
        .info {
          margin: 20px 0;
          .value {
            font-size: 105%;
            opacity: 0.8;
          }
          .key {
          }
        }
      }
      .btns {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-top: 1px solid #e4e4e4;
        padding: 30px 0;
        margin: 60px 0;
        flex-wrap: wrap;
        .bg-theme {
          padding: 10px 20px;
          border-radius: 10px;
        }
        button,
        a {
          margin: 0 20px 20px 20px;
        }
      }
    }
  }
  .side-bar,
  .lst,
  .mid {
    overflow: auto;
  }
  .side-bar,
  .mid {
    @include small_laptop {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.profile-btn {
  min-width: 90px;
  background: #f6f7f8;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 5px;
  box-shadow: inset 0 4px 10px 0 rgba(68, 68, 68, 0.03);
  cursor: pointer;
  display: flex;
  align-items: center;

  > img {
    width: 18px;
    height: auto;
    margin: 0 auto;
  }

  .dp-rapper {
    height: 40px;
    width: 40px;
    background: $theme;
    display: block;
    border-radius: 100vh;
    cursor: pointer;
    background: #fff;
    > img {
      height: 100%;
      width: 100%;
      border-radius: inherit;
    }
  }
}

.bg-theme {
  background: $theme;
  color: #fff;
}

.main-bg {
  background: #fff;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background: $theme;
  z-index: 3;
  // animation-name: reduce;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes reduce {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.scale {
  transform: scale(3) translate(-14%, -89%);
  // animation-name: scale;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes scale {
  0% {
    transform: scale(3) translate(-14%, -89%);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.cursor-container {
  height: 10px;
  width: 10px;
  display: block;
  position: fixed;
  background: #9a8ae8;
  top: 0;
  border-radius: 100vh;
  z-index: 4;
  @include mobile {
    display: none;
  }
  &.slower {
    transition: 0.2s ease;
    height: 30px;
    width: 30px;
    border: 1px solid #9a8ae8;
    background: transparent;
    // transform: translate(-11px, 0);
  }
}
.drop {
  // animation-name: drop;
  animation-duration: 1s;
  transform: translate(50px, -50px) rotate(7deg);
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes drop {
  0% {
    transform: translate(50px, -50px) rotate(7deg);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) rotate(0);
    opacity: 1;
  }
}
